.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  padding-block: 60px;
}

.footer-container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.footer-socials {
  display: flex;
  column-gap: 20px;
}

.footer-social-link {
  color: var(--title-color);
  font-size: var(--h5-font-size);
  transition: all 0.3s var(--transition);
}

.footer-social-link:hover {
  transform: scale(1.3);
}

.footer-copyright:nth-child(2) {
  justify-self: flex-end;
}

.footer-copyright {
  font-size: var(--tiny-font-size);
  font-weight: 700;
}

.footer-container span{
    color: var(--primary-color);
}
