@media screen and (max-width: 1400px) {
  .section-deco:not(.header-deco) {
    display: none;
  }

  .header {
    padding: 30px 12px;
  }

  .home-img-wrapper {
    max-width: 600px;
    transform: translateY(-6%);
  }
  .home-profile {
    height: auto;
  }

  .home-data {
    transform: scale(0.9);
  }

  .shape-1 {
    width: 203px;
    height: 203px;
  }

  .shape-2,
  .shape-3 {
    width: 126px;
    height: 126px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .home {
    padding-top: 140px;
  }

  .home-subtitle,
  .home-title,
  .home-job,
  .hoe-text {
    text-align: center;
  }

  .home-text {
    margin-inline: auto;
  }

  .home-img-wrapper {
    position: relative;
    transform: initial;
    right: initial;
    margin-inline: auto;
    margin-top: 140px;
  }

  .home-socials,
  .home-btns {
    justify-content: center;
  }

  .portfolio-container,
  .skills-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 992px) {
  :root {
    --h2-font-size: 24px;
    --h3-font-size: 23px;
    --h4-font-size: 22px;
    --h5-font-size: 20px;
    --largest-font-size: 19px;
    --larger-font-size: 18px;
    --large-font-size: 16px;
    --normal-font-size: 15px;
    --small-font-size: 14px;
    --smaller-font-size: 13px;
    --tiny-font-size: 12px;
  }
  .container {
    max-width: 740px;
  }
  .home-btns {
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
  }
  .hero-link::before {
    left: 50%;
    top: -72%;
    transform: translateX(-50%);
    width: 2px;
    height: 40px;
  }

  .portfolio-container,
  .skills-container {
    gap: 30px;
  }

  .portfolio-img {
    height: 200px;
  }

  .resume-container {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }

  .resume-icon {
    width: 40px;
    height: 40px;
  }

  .contact-form-group {
    grid-template-columns: 1fr;
    row-gap: 0;
  }

  .contact-card-icon {
    font-size: var(--large-font-size);
    width: 42px;
    height: 42px;
  }

  .contact-card-icon::after {
    width: 32px;
  }

  .contact-card {
    padding-left: 100px;
  }

  .footer-container {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 12px;
  }

  .footer-copyright:last-child {
    justify-self: center;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 24px 12px;
  }

  .nav-data {
    padding: 8px 0 0 124px;
  }

  .show-menu {
    width: 420px;
  }

  .header-deco {
    left: 60px;
  }

  .container {
    max-width: 540px;
  }

  .home-img-wrapper {
    margin-top: 120px;
    max-width: 400px;
  }

  .shape-1 {
    width: 115px;
    height: 115px;
    right: 9%;
  }

  .shape-2,
  .shape-3 {
    width: 72px;
    height: 72px;
  }

  .shape-2 {
    bottom: 10%;
    left: -10%;
  }

  .shape-3 {
    bottom: 4%;
    right: -1%;
  }

  .portfolio-container,
  .contact-container {
    grid-template-columns: 1fr;
  }

  .portfolio-list {
    column-gap: 24px;
  }

  .portfolio-list-item::before {
    bottom: -8px;
  }
}

@media screen and (max-width: 576px) {
  .show-menu {
    width: 100%;
  }

  .nav-btns {
    column-gap: 24px;
  }

  .home-img-wrapper {
    margin-top: 100px;
  }

  .resume-header {
    padding: 28px 24px;
  }

  .resume-content {
    padding-inline: 24px 30px;
  }
  .resume-data-title {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 4px;
  }
}

@media screen and (max-width: 350px) {
  .nav-data {
    padding: 80px 0 0 90px;
  }

  .header-deco {
    left: 40px;
  }

  .home-img-wrapper {
    margin-top: 80px;
  }

  .card-one,
  .card-two {
    padding: 24px;
  }

  .portfolio-img {
    height: 180px;
  }
  .resume-header {
    padding: 24px 18px;
  }

  .resume-content {
    padding-inline: 18px 20px;
  }
}
